* {
  background: rgb(52, 52, 52);
  color: rgb(236, 236, 236);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cv {
  color: rgb(64, 101, 224);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(70, 69, 69);
  padding: 25px 25px 25px 25px;
}

.foto img {
  border-radius: 10%;
  width: 150px;
  height: 170px;
}

.biodata {
  max-width: 1500px;
}

.moto {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

.paragraf {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  justify-content: center;
  align-items: center;
  display: flex;
}
