* {
  background: rgb(52, 52, 52);
  color: rgb(236, 236, 236);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cv {
  color: rgb(64, 101, 224);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(70, 69, 69);
  padding: 25px 25px 25px 25px;
}

.foto img {
  border-radius: 10%;
  width: 150px;
  height: 170px;
}

.biodata {
  max-width: 1500px;
}

.moto {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}

.paragraf {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  justify-content: center;
  align-items: center;
  display: flex;
}

.kritik {
  font-size: medium;
  margin-top: 20px;
  text-align: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
  background-color: rgb(52, 52, 52);
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  width: 100%;
  background-color: #eea150;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"]:hover {
  background-color: #eb973d;
}

.index {
  font-size: medium;
  margin-top: 20px;
  text-align: center;
}
